/* 账号安全 */
.account-safe-body{
    height:500px;
    padding:0;
    /* margin-top: 85px;*/
}
.input-item{
    height:35px;
    margin-bottom:20px;
}
.input-label{
    height:100%;
    line-height:35px;
    text-align:center;
    background: yellowgreen;
}
.input-input{
    background: yellow;
    height:100%;
}
.input-input>input{
    width:100%;
    height:100%;
}

.input-error{
    line-height:35px;
    height:100%;
    display:none;color:red;
}
.account-safe-submit{
    height:100%;
    cursor: pointer;
    line-height: 35px;
    border-radius: 4px;
    background: #CCC;
    text-align:center;
}
