<!-- 会员首页 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>农产品追溯平台</title>
  <script>
      var _hmt = _hmt || [];
      (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?1b06a7889f268c3641d916f8aa6584b2";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
      })();
  </script>
  <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/enterprise/common.css">
  <link rel="stylesheet" href="../css/enterprise/addfackcode.css">
</head>

<body>
  <!-- banner -->
  <div class="top"></div>
  <!-- 企业头部 -->
  <div class="page-top-wrapper"></div>
  <!-- 面包屑 -->
  <div class="container breadcrumb-wrapper">
     <ol class="breadcrumb" id="breadcrumb">
       <li><a href="../index.html">首页</a></li>
       <li><a href="member_home.html">追溯档案</a></li>
       <li class="active" id="current-page">添加验证码</li>
     </ol>
  </div>
  <!-- 网页主体区域 -->
  <div class="container main-wrapper">
      <!-- 左侧 -->
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 main-menu" id="main-menu"></div>

      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 addfackcode-wrapper" id="addfackcode-wrapper">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 addfackcode-main" style="padding:0;">
          <div class="addfackcode-caption">请在下方输入所需的验证码数量</div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 addfackcode-body" style="padding:0;">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 addfackcode-image"><img src="" /></div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 addfackcode-text" style="padding:0;">
              <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0;padding-top:15px;margin-bottom:7px;font-size:18px;"></span>
              <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0;color:#999;"></span>
              <ul class="col-lg-7 col-md-7 col-sm-12 col-xs-12 addfackcode-input" id="addfackcode-input">
                <div class="input-group">
                  <div class="input-group-addon addfackcode-input-caption">本次验证码发布数量</div>
                  <div class="addfackcode-input-wrapper" id="addfackcode-input-wrapper">
                    <input type="text" name="addfackcode" class="form-control num-input" placeholder="验证码数量" maxlength="10"/>
                  </div>
                  <div class="input-group-addon addfackcode-submit" id="addfackcode-submit">添加</div>
                </div>
              </ul>
              <span class="col-lg-5 col-md-5 col-sm-12 col-xs-12 addfackcode-error"></span>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 addfackcode-caption" style="padding:0;">验证码历史</div>
          <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12 addfackcode-history" id="addfackcode-history">

            <li v-for="fakeArchives in fakeArchivesList" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 addfackcode-list" style="padding:0;">
              <div class="history-icon">
                <span></span>
                <span></span>
              </div>
              <div class="history-date" v-text="fakeArchives.createdate"></div>
              <div class="history-number">添加<span v-text="fakeArchives.number"></span>个验证码</div>
              <div>
                <span @click="printFakeArchives(fakeArchives)" v-if="fakeArchives.createdate === '刚刚'">立刻打印</span>
                <span @click="printFakeArchives(fakeArchives)" v-else="false">打印</span>
                <span @click="downloadErweima(fakeArchives)" class="download-erweima">下载二维码</span>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>

  <!-- 模态框 - 错误提示 -->
  <div class="modal fade" id="myModal" tabindex="-1">
    <!-- 窗口声明 -->
    <div class="modal-dialog modal-md" style="margin-top:17%;">
      <!-- 内容声明 -->
      <div class="modal-content">
        <!-- 头部 -->
        <div class="modal-header">
          <button type="button" class="close"
                  data-dismiss="modal">
            <span>&times;</span>
          </button>
          <h4 class="modal-title text-center">提示信息</h4>
        </div>
        <!-- 主体 -->
        <div class="modal-body text-center">
          <p class="errorInfo" style="margin-bottom:60px;"></p>
          <div style="margin-bottom:60px;">
            <span class="modal-button" style="margin-right:30px;">确定</span>
            <span class="modal-button-cancel">取消</span>
          </div>
        </div>
      </div>
    </div>
  </div>




  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="../common/js/set_timeout.js"></script>
  <script src="../vendor/vue/vue.js"></script>
  <script src="../common/js/commjs.js"></script>
  <script src="../common/js/load_common_html.js"></script>
  <script src="../common/js/util.js"></script>
  <script src="../js/addfackcode.js"></script>
</body>

</html>
